Repository Jij-Inc/ommx, pull requests merged in 2024-12, with the labels that each got.

#171 Adding Documentation for Solving Linear Program with OMMX Adapter
  doc/_toc.yml
  doc/tutorial/assets/solve_with_ommx_adapter_01.png
  doc/tutorial/solve_with_ommx_adapter.ipynb
  doc/tutorial/solve_with_scip.ipynb
Labels: documentation

#162 MPS output is broken if same name variables exist
  python/ommx/ommx/mps.py
  python/ommx/ommx/v1/__init__.py
  python/ommx/tests/test_mps.py
  rust/dataset/src/miplib2017.rs
  rust/ommx/src/mps.rs
  rust/ommx/src/mps/convert.rs
  rust/ommx/src/mps/parser.rs
  rust/ommx/src/mps/tests.rs
  rust/ommx/src/mps/to_mps.rs
Labels: bug

#184 Format Bug: `-1.0*x1` is abbreviated as `-*x1`
  rust/ommx/src/convert/format.rs
  rust/ommx/src/convert/linear.rs
Labels: bug

#186 QUBO and PUBO format output
  rust/ommx/src/convert.rs
  rust/ommx/src/convert/decision_variable.rs
  rust/ommx/src/convert/format.rs
  rust/ommx/src/convert/function.rs
  rust/ommx/src/convert/instance.rs
  rust/ommx/src/convert/parametric_instance.rs
  rust/ommx/src/convert/polynomial.rs
  rust/ommx/src/convert/quadratic.rs
  rust/ommx/src/convert/sorted_ids.rs
Labels: rust

#188 Use default `__repr__` for `DecisionVariable`
  python/ommx/ommx/v1/__init__.py
Labels: python

#178 Adding Documentation for Introduction
  doc/assets/introduction_01.png
  doc/assets/introduction_02.png
  doc/assets/introduction_03.png
  doc/introduction.ipynb
Labels: documentation

#195 Python SDK 1.5.0
  python/ommx-pyscipopt-adapter/pyproject.toml
  python/ommx-python-mip-adapter/pyproject.toml
  python/ommx/pyproject.toml
Labels: python

#189 Removed constraints
  proto/ommx/v1/constraint.proto
  proto/ommx/v1/instance.proto
  proto/ommx/v1/parametric_instance.proto
  python/ommx/ommx/v1/constraint_pb2.py
  python/ommx/ommx/v1/constraint_pb2.pyi
  python/ommx/ommx/v1/instance_pb2.py
  python/ommx/ommx/v1/instance_pb2.pyi
  python/ommx/ommx/v1/parametric_instance_pb2.py
  python/ommx/ommx/v1/parametric_instance_pb2.pyi
  rust/ommx/src/convert.rs
  rust/ommx/src/convert/constraint.rs
  rust/ommx/src/convert/instance.rs
  rust/ommx/src/convert/parametric_instance.rs
  rust/ommx/src/convert/solution.rs
  rust/ommx/src/evaluate.rs
  rust/ommx/src/ommx.v1.rs
Labels: rust, proto

#197 Add py.typed and missing `__all__` definitions to make pyright happy
  Cargo.lock
  Cargo.toml
  python/ommx/ommx/py.typed
  python/ommx/ommx/v1/__init__.py
Labels: python

#203 Revise `Instance::validate*` APIs
  rust/ommx/src/convert/instance.rs
Labels: rust, breaking change

#207 Fill `ommx.v1.Solution.state` with `substituted_value` of `DecisionVariable`
  rust/ommx/src/convert/constraint.rs
  rust/ommx/src/convert/decision_variable.rs
  rust/ommx/src/convert/instance.rs
  rust/ommx/src/convert/parameter.rs
  rust/ommx/src/evaluate.rs
Labels: python, rust

#206 Release note for Python SDK 1.5.0
  doc/_toc.yml
  doc/release_note/ommx-1.5.0.ipynb
  doc/release_note/ommx-x.y.z.ipynb
Labels: documentation

#209 Drop Python 3.8 because it has been ended at 2024/10/7
  .github/actions/setup-test-environment/action.yml
  .github/workflows/doc.yml
  .github/workflows/python.yml
  .github/workflows/release_python.yml
  python/ommx-pyscipopt-adapter/pyproject.toml
  python/ommx-python-mip-adapter/pyproject.toml
  python/ommx/pyproject.toml
  python/set-version.py
Labels: python

#208 Do not use multi-index for dataframe property
  notebooks/cookbook.ipynb
  python/ommx/ommx/v1/__init__.py
  python/ommx/tests/test_mps.py
Labels: python, breaking change

#212 Restore `Solution.annotations` in `Artifact.get_solution`
  python/ommx/ommx/artifact.py
  python/ommx/ommx/v1/__init__.py
Labels: bug, python

#214 `Function.terms` and related properties
  python/ommx/ommx/v1/__init__.py
Labels: python

#213 Generate `requirements.txt` for Binder using `uv pip compile`
  .gitattributes
  .github/workflows/doc.yml
  Taskfile.yml
  doc/pyproject.toml
  doc/requirements.txt
  doc/uv.lock
  python/ommx/pyproject.toml
  requirements.txt
Labels: documentation

#222 Introduce `AsConstraint` abstract class to share comparison operators
  python/ommx/ommx/v1/__init__.py
Labels: python

#224 Override `__eq__` method also for `Quadratic` and others
  python/ommx/ommx/v1/__init__.py
Labels: python

#228 Add penalty weight parameter id to removed constraint for inverse lookup
  python/ommx/ommx/v1/__init__.py
  rust/ommx/src/convert/instance.rs
Labels: rust

#210 About ommx.v1.Function in Jupyter-Book
  doc/_toc.yml
  doc/ommx_message/function.ipynb
  doc/pyproject.toml
  requirements.txt
Labels: documentation

#223 About ommx.v1.Instance in Jupyter-Book
  doc/_toc.yml
  doc/ommx_message/instance.ipynb
Labels: documentation

#225 About ommx.v1.Soluiton in Jupyter-Book
  doc/_toc.yml
  doc/ommx_message/solution.ipynb
Labels: documentation

#240 Remove zero coefficients in `Instance::as_{pubo,qubo}_format`
  rust/ommx/src/convert/instance.rs
Labels: rust

#236 OMMX Adapter for OpenJij, introduce `ommx.v1.SampleSet`
  Cargo.lock
  proto/ommx/v1/sample_set.proto
  python/ommx-openjij-adapter/README.md
  python/ommx-openjij-adapter/ommx_openjij_adapter/__init__.py
  python/ommx-openjij-adapter/pyproject.toml
  python/ommx/ommx/_ommx_rust.pyi
  python/ommx/ommx/v1/__init__.py
  python/ommx/ommx/v1/sample_set_pb2.py
  python/ommx/ommx/v1/sample_set_pb2.pyi
  python/ommx/src/instance.rs
  python/ommx/src/lib.rs
  python/set-version.py
  rust/ommx/Cargo.toml
  rust/ommx/src/convert.rs
  rust/ommx/src/convert/constraint.rs
  rust/ommx/src/convert/sample_set.rs
  rust/ommx/src/evaluate.rs
  rust/ommx/src/ommx.v1.rs
Labels: python, rust, proto

#243 Support maximization problem for OpenJij Adapter
  .github/actions/setup-test-environment/action.yml
  .github/dependabot.yml
  .github/workflows/python.yml
  .github/workflows/release_python.yml
  Taskfile.yml
  python/ommx-openjij-adapter/ommx_openjij_adapter/__init__.py
  python/ommx-openjij-adapter/tests/test_sample.py
Labels: python

#242 Tutorial for OpenJij-Adapter
  doc/_toc.yml
  doc/pyproject.toml
  doc/tutorial/assets/taraimawashi_businessman.png
  doc/tutorial/share_artifact.ipynb
  doc/tutorial/tsp_sampling_with_openjij_adapter.ipynb
  requirements.txt
Labels: documentation

#257 Add `decision_variable_dependency` to represent polynomial dependency between decision variables
  proto/ommx/v1/instance.proto
  proto/ommx/v1/parametric_instance.proto
  python/ommx/ommx/v1/instance_pb2.py
  python/ommx/ommx/v1/instance_pb2.pyi
  python/ommx/ommx/v1/parametric_instance_pb2.py
  python/ommx/ommx/v1/parametric_instance_pb2.pyi
  rust/ommx/src/convert/instance.rs
  rust/ommx/src/convert/parametric_instance.rs
  rust/ommx/src/convert/sample_set.rs
  rust/ommx/src/evaluate.rs
  rust/ommx/src/ommx.v1.rs
Labels: proto
