Repository Jij-Inc/ommx, pull requests merged in 2024-10, with the labels that each got.

#121 Add support for Python 3.12
  .github/workflows/python.yml
  .github/workflows/release_python.yml
  python/ommx/pyproject.toml
Labels: python

#123 Add MPS file parser
  Cargo.lock
  Cargo.toml
  rust/ommx/Cargo.toml
  rust/ommx/src/lib.rs
  rust/ommx/src/mps.rs
  rust/ommx/src/mps/convert.rs
  rust/ommx/src/mps/parser.rs
Labels: rust

#120 Modeler API for Rust SDK
  .gitignore
  Cargo.lock
  Cargo.toml
  rust/ommx/Cargo.toml
  rust/ommx/src/convert.rs
  rust/ommx/src/convert/function.rs
  rust/ommx/src/convert/linear.rs
  rust/ommx/src/convert/polynomial.rs
  rust/ommx/src/convert/quadratic.rs
  rust/ommx/src/lib.rs
Labels: rust

#126 Generate stub file by pyo3-stub-gen
  .github/workflows/python.yml
  .gitignore
  Cargo.lock
  Cargo.toml
  python/ommx/Cargo.toml
  python/ommx/ommx/_ommx_rust.pyi
  python/ommx/src/artifact.rs
  python/ommx/src/bin/stub_gen.rs
  python/ommx/src/builder.rs
  python/ommx/src/descriptor.rs
  python/ommx/src/evaluate.rs
  python/ommx/src/lib.rs
Labels: python

#125 Polynomial support of Modeler API in Python SDK
  Cargo.lock
  python/ommx/Cargo.toml
  python/ommx/ommx/_ommx_rust.pyi
  python/ommx/ommx/v1/__init__.py
  python/ommx/pyproject.toml
  python/ommx/src/lib.rs
  python/ommx/src/message.rs
  python/ommx/tests/test_function.py
  rust/ommx/src/convert/function.rs
Labels: python

#127 MPS File Reading Python API & Rust fixes
  python/ommx/ommx/_ommx_rust.pyi
  python/ommx/ommx/mps.py
  python/ommx/ommx/v1/__init__.py
  python/ommx/src/lib.rs
  python/ommx/src/mps.rs
  python/ommx/tests/objsense_max.mps.gz
  python/ommx/tests/test_mps.py
  rust/ommx/src/mps.rs
  rust/ommx/src/mps/parser.rs
Labels: python, rust

#129 `ruff check` on CI
  .github/workflows/python.yml
  python/ommx/ommx/mps.py
  python/ommx/pyproject.toml
  python/ommx/tests/test_mps.py
Labels: python

#130 Add `from_bytes` and `to_bytes` to `DecisionVariable` and `Constraint`
  python/ommx/ommx/v1/__init__.py
  python/ommx/tests/test_serialize.py
Labels: python

#131 Remove `Function.from_linear` and others, use `__init__` instead
  python/ommx/ommx/v1/__init__.py
  python/ommx/tests/test_function.py
Labels: python

#135 Fix `impl Display` and `__repr__` for `Linear` and other `Function`s
  rust/ommx/src/convert/format.rs
  rust/ommx/src/convert/linear.rs
Labels: bug, python, rust

#134 Accessors for `Constraint` class
  python/ommx/ommx/v1/__init__.py
Labels: python
