Repository Jij-Inc/ommx, pull requests merged in 2024-11, with the labels that each got.

#144 `dual_variable` and `penalty_weight` in `Constraint` message for QUBO
  proto/ommx/v1/constraint.proto
  python/ommx/ommx/v1/__init__.py
  python/ommx/ommx/v1/constraint_pb2.py
  python/ommx/ommx/v1/constraint_pb2.pyi
  rust/ommx/src/mps/convert.rs
  rust/ommx/src/ommx.v1.rs
Labels: python, rust, proto

#145 Add `model_to_solution` and `model_to_state`.
  python/ommx-python-mip-adapter/README.md
  python/ommx-python-mip-adapter/docs/source/conf.py
  python/ommx-python-mip-adapter/ommx_python_mip_adapter/__init__.py
  python/ommx-python-mip-adapter/ommx_python_mip_adapter/ommx_to_python_mip.py
  python/ommx-python-mip-adapter/ommx_python_mip_adapter/python_mip_to_ommx.py
  python/ommx-python-mip-adapter/pyproject.toml
  python/ommx-python-mip-adapter/tests/test_integration.py
  python/ommx/docs/source/conf.py
  python/ommx/pyproject.toml
Labels: python, breaking change

#152 Add `#[non_exhaustive]` to all generated message types
  Cargo.lock
  Cargo.toml
  rust/ommx/src/ommx.v1.rs
  rust/protogen/src/main.rs
Labels: rust, breaking change

#153 Partial evaluation of `ommx.v1.Function`
  rust/ommx/src/convert.rs
  rust/ommx/src/convert/function.rs
  rust/ommx/src/convert/linear.rs
  rust/ommx/src/convert/polynomial.rs
  rust/ommx/src/convert/quadratic.rs
  rust/ommx/src/convert/state.rs
  rust/ommx/src/evaluate.rs
Labels: rust

#154 Add more properties to `Instance`, `Solution`, and `DecisionVariable`
  python/ommx/ommx/v1/__init__.py
Labels: python

#155 Revise `impl Arbitrary for v1::Instance`
  Cargo.lock
  Cargo.toml
  rust/ommx/Cargo.toml
  rust/ommx/src/arbitrary.rs
  rust/ommx/src/convert.rs
  rust/ommx/src/convert/constraint.rs
  rust/ommx/src/convert/decision_variable.rs
  rust/ommx/src/convert/instance.rs
  rust/ommx/src/lib.rs
  rust/ommx/src/ommx.v1.rs
  rust/protogen/src/main.rs
Labels: rust, breaking change

#156 Bump OMMX Python SDK from 1.4.0 to 1.4.1
  Cargo.lock
  python/ommx/pyproject.toml
Labels: python

#146 ParametricInstance
  Cargo.lock
  Cargo.toml
  Taskfile.yml
  proto/ommx/v1/instance.proto
  proto/ommx/v1/parametric_instance.proto
  python/ommx/ommx/v1/instance_pb2.py
  python/ommx/ommx/v1/instance_pb2.pyi
  python/ommx/ommx/v1/parametric_instance_pb2.py
  python/ommx/ommx/v1/parametric_instance_pb2.pyi
  rust/ommx/Cargo.toml
  rust/ommx/src/convert.rs
  rust/ommx/src/convert/constraint.rs
  rust/ommx/src/convert/decision_variable.rs
  rust/ommx/src/convert/instance.rs
  rust/ommx/src/convert/parametric_instance.rs
  rust/ommx/src/mps/convert.rs
  rust/ommx/src/ommx.v1.rs
  rust/protogen/src/main.rs
Labels: rust, proto

#166 `ArtifactBuilder.add_json` / `Artifact.get_json`
  python/ommx/ommx/artifact.py
Labels: python

#167 Regard `None` for `ommx::v1::Function::function` as zero
  rust/ommx/src/convert/constraint.rs
  rust/ommx/src/convert/instance.rs
  rust/ommx/src/convert/parametric_instance.rs
  rust/ommx/src/evaluate.rs
Labels: rust

#170 Use `u32` for degree, fix `impl Arbitrary for Instance`
  rust/ommx/src/convert/constraint.rs
  rust/ommx/src/convert/function.rs
  rust/ommx/src/convert/instance.rs
  rust/ommx/src/convert/linear.rs
  rust/ommx/src/convert/polynomial.rs
  rust/ommx/src/convert/quadratic.rs
Labels: rust

#173 `substituted_value` in `ommx.v1.DecisionVariable`
  proto/ommx/v1/decision_variables.proto
  python/ommx/ommx/v1/decision_variables_pb2.py
  python/ommx/ommx/v1/decision_variables_pb2.pyi
  rust/ommx/src/convert/decision_variable.rs
  rust/ommx/src/evaluate.rs
  rust/ommx/src/mps/convert.rs
  rust/ommx/src/ommx.v1.rs
Labels: rust, proto

#169 Adding Documentation for Downloading MIPLIB Instance
  doc/_toc.yml
  doc/tutorial/download_miplib_instance.ipynb
  requirements.txt
Labels: documentation

#176 `Quadratic::used_decision_variable_ids` not include IDs of `Linear` part
  rust/ommx/src/convert/quadratic.rs
Labels: bug, python, rust

#174 `Instance::penalty_method`
  rust/ommx/src/convert/instance.rs
Labels: rust
