Repository Jij-Inc/ommx, pull requests merged in 2024-05, with the labels that each got.

#29 Use maturin for python package
  .github/workflows/doc.yml
  .github/workflows/python.yml
  .github/workflows/rust.yml
  .gitignore
  Cargo.lock
  Cargo.toml
  python/Cargo.toml
  python/ommx/_ommx_rust.pyi
  python/pyproject.toml
  python/src/lib.rs
  python/tests/data/random_lp_instance.ommx
  python/tests/test_artifact.py
  rust/Cargo.toml
  rust/ommx/Cargo.toml
  rust/ommx/src/artifact.rs
  rust/ommx/src/artifact/annotations.rs
  rust/ommx/src/artifact/artifact.rs
  rust/ommx/src/artifact/builder.rs
  rust/ommx/src/artifact/media_types.rs
  rust/ommx/src/bin/ommx.rs
  rust/protogen/Cargo.toml
Labels: python, rust

#33 `ruff format` for Python codes
  .github/workflows/python.yml
  DEVELOPMENT.md
  python/docs/source/conf.py
  python/ommx/testing.py
  python/ommx/v1/constraint_pb2.py
  python/ommx/v1/constraint_pb2.pyi
  python/ommx/v1/decision_variables_pb2.py
  python/ommx/v1/decision_variables_pb2.pyi
  python/ommx/v1/function_pb2.py
  python/ommx/v1/function_pb2.pyi
  python/ommx/v1/instance_pb2.py
  python/ommx/v1/instance_pb2.pyi
  python/ommx/v1/linear_pb2.py
  python/ommx/v1/linear_pb2.pyi
  python/ommx/v1/polynomial_pb2.py
  python/ommx/v1/polynomial_pb2.pyi
  python/ommx/v1/quadratic_pb2.py
  python/ommx/v1/quadratic_pb2.pyi
  python/ommx/v1/solution_pb2.py
  python/ommx/v1/solution_pb2.pyi
  python/ommx/v1/sparse_matrix_pb2.py
  python/pyproject.toml
  python/tests/test_artifact.py
Labels: python

#35 Return `Instance` and `Solution` objects instead of `bytes`
  .gitattributes
  python/ommx/testing.py
Labels: python

#32 Add evaluated values in `Solution` message, rename old message as `RawSolution`
  .gitattributes
  .github/workflows/python.yml
  proto/ommx/v1/constraint.proto
  proto/ommx/v1/solution.proto
  python/ommx/testing.py
  python/ommx/v1/constraint_pb2.py
  python/ommx/v1/constraint_pb2.pyi
  python/ommx/v1/solution_pb2.py
  python/ommx/v1/solution_pb2.pyi
  rust/ommx/src/ommx.v1.rs
  rust/ommx/src/random.rs
Labels: proto

#36 Move feasible and optimal fields to Solution message instead of RawSolution
  proto/ommx/v1/solution.proto
  python/ommx/v1/solution_pb2.py
  python/ommx/v1/solution_pb2.pyi
  rust/ommx/src/ommx.v1.rs
Labels: proto

#37 Store descriptions of decision variables and constraints in Solution
  proto/ommx/v1/constraint.proto
  proto/ommx/v1/decision_variables.proto
  proto/ommx/v1/solution.proto
  python/ommx/v1/constraint_pb2.py
  python/ommx/v1/constraint_pb2.pyi
  python/ommx/v1/decision_variables_pb2.py
  python/ommx/v1/decision_variables_pb2.pyi
  python/ommx/v1/solution_pb2.py
  python/ommx/v1/solution_pb2.pyi
  rust/ommx/src/ommx.v1.rs
Labels: proto

#38 Rename `RawSolution` to `State`
  proto/ommx/v1/solution.proto
  python/ommx/testing.py
  python/ommx/v1/solution_pb2.py
  python/ommx/v1/solution_pb2.pyi
  rust/ommx/src/ommx.v1.rs
Labels: proto

#39 Store decision variable IDs used to evaluating constraint
  proto/ommx/v1/constraint.proto
  python/ommx/v1/constraint_pb2.py
  python/ommx/v1/constraint_pb2.pyi
  rust/ommx/src/ommx.v1.rs
Labels: proto

#34 Evaluate `Function`, `Constraint`, and `Instance`
  .github/workflows/rust.yml
  Cargo.lock
  Cargo.toml
  rust/ommx/Cargo.toml
  rust/ommx/src/artifact.rs
  rust/ommx/src/artifact/builder.rs
  rust/ommx/src/convert.rs
  rust/ommx/src/evaluate.rs
  rust/ommx/src/lib.rs
Labels: rust

#40 Call evaluate from Python
  .github/workflows/python.yml
  python/ommx/_ommx_rust.pyi
  python/ommx/testing.py
  python/ommx/v1/__init__.py
  python/src/artifact.rs
  python/src/evaluate.rs
  python/src/lib.rs
Labels: python

#42 Network graph for solution
  .github/workflows/python.yml
  .gitignore
  notebooks/solution-graph.ipynb
  python/ommx/v1/__init__.py
  python/pyproject.toml
Labels: python

#46 Add document for quadratic function
  proto/ommx/v1/quadratic.proto
  python/ommx/v1/quadratic_pb2.pyi
  rust/ommx/src/ommx.v1.rs
Labels: documentation, proto

#49 Create OMMX Artifact in Python
  .gitignore
  Cargo.lock
  Cargo.toml
  python/Cargo.toml
  python/docs/source/conf.py
  python/ommx/_ommx_rust.pyi
  python/ommx/artifact.py
  python/src/artifact.rs
  python/src/builder.rs
  python/src/descriptor.rs
  python/src/lib.rs
  python/tests/test_artifact.py
  rust/ommx/Cargo.toml
Labels: python
