Repository Jij-Inc/ommx, pull requests merged in 2025-03, with the labels that each got.

#260 Log encoding for integer decision variables
  rust/ommx/src/convert/instance.rs
Labels: rust

#347 Tutorial for switching adapters
  README.md
  docs/en/Taskfile.yml
  docs/en/_toc.yml
  docs/en/tutorial/switching_adapters.ipynb
  docs/ja/Taskfile.yml
  docs/ja/_toc.yml
  docs/ja/tutorial/switching_adapters.ipynb
  docs/pyproject.toml
  docs/uv.lock
  requirements.txt
Labels: documentation

#350 Introduce `SamplerAdapter` and `OMMXOpenJijSAAdapter`
  python/Taskfile.yml
  python/ommx-highs-adapter/ommx_highs_adapter/adapter.py
  python/ommx-openjij-adapter/ommx_openjij_adapter/__init__.py
  python/ommx-openjij-adapter/tests/test_sample.py
  python/ommx-pyscipopt-adapter/ommx_pyscipopt_adapter/adapter.py
  python/ommx-python-mip-adapter/ommx_python_mip_adapter/adapter.py
  python/ommx/ommx/adapter.py
Labels: python

#352 Update tsp_sampling_with_openjij_adapter.ipynb
  docs/ja/tutorial/tsp_sampling_with_openjij_adapter.ipynb
Labels: documentation

#344 Update the Guide for implementing OMMX Adapters with `SamplerAdapter`
  docs/en/_toc.yml
  docs/en/tutorial/implement_adapter.ipynb
  docs/en/tutorial/tsp_sampling_with_openjij_adapter.ipynb
  docs/en/user_guide/solver_adapter.ipynb
  docs/ja/_toc.yml
  docs/ja/tutorial/implement_adapter.ipynb
  docs/ja/tutorial/tsp_sampling_with_openjij_adapter.ipynb
  docs/ja/user_guide/solver_adapter.ipynb
  docs/pyproject.toml
  docs/uv.lock
  python/md2ipynb.py
  requirements.txt
Labels: documentation

#363 Log encoding in Python SDK
  docs/api_reference/uv.lock
  python/ommx/ommx/_ommx_rust.pyi
  python/ommx/ommx/v1/__init__.py
  python/ommx/src/instance.rs
  rust/ommx/src/v1_ext/instance.rs
Labels: python

#364 Setter for Instance.objective
  python/ommx-tests/tests/test_instance.py
  python/ommx/ommx/v1/__init__.py
Labels: python

#362 Eval bound of `ommx::v1::Function`
  rust/ommx/src/bound.rs
  rust/ommx/src/decision_variable.rs
  rust/ommx/src/lib.rs
  rust/ommx/src/parse.rs
  rust/ommx/src/random.rs
  rust/ommx/src/sorted_ids.rs
  rust/ommx/src/v1_ext/function.rs
  rust/ommx/src/v1_ext/instance.rs
Labels: rust

#369 Add integer slack to inequality
  python/ommx-tests/tests/test_instance.py
  python/ommx/ommx/_ommx_rust.pyi
  python/ommx/ommx/v1/__init__.py
  python/ommx/src/instance.rs
  rust/ommx/src/v1_ext/instance.rs
Labels: python, rust

#368 Allow inequality constraints in penalty method
  python/ommx/ommx/v1/__init__.py
  rust/ommx/src/v1_ext/instance.rs
Labels: python, rust

#370 `Instance.to_qubo` driver API
  python/ommx-tests/tests/test_instance.py
  python/ommx/ommx/v1/__init__.py
  rust/ommx/src/v1_ext/instance.rs
Labels: python

#372 Use `to_qubo` in OpenJij Adapter
  python/ommx-openjij-adapter/ommx_openjij_adapter/__init__.py
  python/ommx-openjij-adapter/tests/test_sample.py
  python/ommx/ommx/adapter.py
  python/ommx/ommx/v1/__init__.py
  rust/ommx/src/sorted_ids.rs
Labels: python
