Repository Jij-Inc/ommx, pull requests merged in 2025-07, with the labels that each got.

#524 Remove default `solve` implementation in `SamplerAdapter`
  python/ommx-openjij-adapter/ommx_openjij_adapter/__init__.py
  python/ommx/ommx/adapter.py
Labels: python

#530 Add the `.sense` property to `ommx.v1.Solution` and `ommx.v1.SampleSet`.
  proto/ommx/v1/solution.proto
  python/ommx-tests/tests/test_sample_set.py
  python/ommx-tests/tests/test_solution.py
  python/ommx/ommx/_ommx_rust.pyi
  python/ommx/ommx/v1/__init__.py
  python/ommx/ommx/v1/solution_pb2.py
  python/ommx/ommx/v1/solution_pb2.pyi
  python/ommx/src/solution.rs
  rust/ommx/src/instance/evaluate.rs
  rust/ommx/src/ommx.v1.rs
  rust/ommx/src/sample_set.rs
  rust/ommx/src/solution.rs
  rust/ommx/src/solution/parse.rs
Labels: python, rust, proto

#529 Reduce binary power
  CLAUDE.md
  rust/ommx/src/constraint.rs
  rust/ommx/src/constraint/reduce_binary_power.rs
  rust/ommx/src/format.rs
  rust/ommx/src/function.rs
  rust/ommx/src/function/reduce_binary_power.rs
  rust/ommx/src/instance.rs
  rust/ommx/src/instance/analysis.rs
  rust/ommx/src/instance/reduce_binary_power.rs
  rust/ommx/src/macros.rs
  rust/ommx/src/polynomial_base.rs
  rust/ommx/src/polynomial_base/linear.rs
  rust/ommx/src/polynomial_base/polynomial.rs
  rust/ommx/src/polynomial_base/quadratic.rs
Labels: rust

#537 Reduce binary power in Python SDK
  python/ommx/ommx/_ommx_rust.pyi
  python/ommx/ommx/v1/__init__.py
  python/ommx/src/function.rs
  python/ommx/src/instance.rs
Labels: python

#541 Compare by value for `ommx.v1.Bound`
  python/ommx-tests/tests/test_bound.py
  python/ommx/src/bound.rs
Labels: python

#549 Direct `from_bytes`/`to_bytes` in Rust SDK
  python/ommx/ommx/_ommx_rust.pyi
  python/ommx/ommx/v1/__init__.py
  python/ommx/src/constraint.rs
  python/ommx/src/decision_variable.rs
  python/ommx/src/evaluated_constraint.rs
  python/ommx/src/evaluated_decision_variable.rs
  python/ommx/src/function.rs
  python/ommx/src/instance.rs
  python/ommx/src/linear.rs
  python/ommx/src/polynomial.rs
  python/ommx/src/quadratic.rs
  python/ommx/src/sample_set.rs
  python/ommx/src/sampled_constraint.rs
  python/ommx/src/sampled_decision_variable.rs
  python/ommx/src/solution.rs
  rust/ommx/src/constraint.rs
  rust/ommx/src/constraint/serialize.rs
  rust/ommx/src/decision_variable.rs
  rust/ommx/src/decision_variable/serialize.rs
  rust/ommx/src/function.rs
  rust/ommx/src/function/serialize.rs
  rust/ommx/src/instance.rs
  rust/ommx/src/instance/serialize.rs
  rust/ommx/src/polynomial_base.rs
  rust/ommx/src/polynomial_base/serialize.rs
  rust/ommx/src/sample_set.rs
  rust/ommx/src/sample_set/serialize.rs
  rust/ommx/src/solution.rs
  rust/ommx/src/solution/serialize.rs
Labels: python, rust

#551 Fail to restore `ConstraintHints` after relaxing the constraint
  python/ommx-tests/tests/test_instance.py
  python/ommx/src/constraint_hints.rs
  rust/ommx/src/instance.rs
  rust/ommx/src/instance/constraint_hints.rs
  rust/ommx/src/instance/parse.rs
Labels: bug, python, rust

#555 Dependent variables cannot be used
  rust/ommx/src/constraint.rs
  rust/ommx/src/instance.rs
  rust/ommx/src/instance/error.rs
  rust/ommx/src/instance/setter.rs
Labels: rust

#560 Update macros to accept expressions instead of literals
  rust/ommx/src/macros.rs
Labels: rust

#562 MPS I/O for `ommx::Instance`
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  python/ommx-tests/tests/test_instance.py
  python/ommx/ommx/v1/__init__.py
  python/ommx/src/mps.rs
  rust/dataset/src/miplib2017.rs
  rust/ommx/Cargo.toml
  rust/ommx/src/bound.rs
  rust/ommx/src/coefficient.rs
  rust/ommx/src/constraint.rs
  rust/ommx/src/decision_variable.rs
  rust/ommx/src/decision_variable/approx.rs
  rust/ommx/src/format.rs
  rust/ommx/src/function.rs
  rust/ommx/src/instance/analysis.rs
  rust/ommx/src/instance/approx.rs
  rust/ommx/src/instance/arbitrary.rs
  rust/ommx/src/mps.rs
  rust/ommx/src/mps/compressed.rs
  rust/ommx/src/mps/convert.rs
  rust/ommx/src/mps/format.rs
  rust/ommx/src/mps/parser.rs
  rust/ommx/src/mps/tests.rs
  rust/ommx/src/mps/tests/edge_cases.rs
  rust/ommx/src/mps/tests/invalid_cases.rs
  rust/ommx/src/mps/tests/read_tests.rs
  rust/ommx/src/mps/tests/write_arbitrary.rs
  rust/ommx/src/polynomial_base.rs
  rust/ommx/src/polynomial_base/add.rs
  rust/ommx/src/polynomial_base/convert.rs
  rust/ommx/src/polynomial_base/linear.rs
  rust/ommx/src/polynomial_base/polynomial.rs
  rust/ommx/src/v1_ext/function.rs
Labels: bug, rust

#566 Rust-idiomatic `ommx::ParametricInstance`
  python/ommx/ommx/_ommx_rust.pyi
  python/ommx/ommx/artifact.py
  python/ommx/src/instance.rs
  python/ommx/src/lib.rs
  python/ommx/src/parameters.rs
  python/ommx/src/parametric_instance.rs
  rust/ommx/src/instance.rs
  rust/ommx/src/instance/constraint_hints.rs
  rust/ommx/src/instance/convert.rs
  rust/ommx/src/instance/new.rs
  rust/ommx/src/instance/parse.rs
  rust/ommx/src/instance/reduce_binary_power.rs
  rust/ommx/src/instance/serialize.rs
  rust/ommx/src/instance/setter.rs
  rust/ommx/src/instance/substitute.rs
  rust/ommx/src/mps/convert.rs
  rust/ommx/src/mps/tests/edge_cases.rs
  rust/ommx/src/mps/tests/invalid_cases.rs
  rust/ommx/src/polynomial_base/convert.rs
Labels: python, rust

#577 MPS output does not handle `f64::INFINITY` in `Bound` correctly
  python/ommx/ommx/v1/__init__.py
  rust/ommx/src/mps/format.rs
Labels: bug, python, rust
