Repository Jij-Inc/ommx, pull requests merged in 2025-05, with the labels that each got.

#448 Do not return used decision variable ID in evaluate
  proto/Taskfile.yml
  python/Taskfile.yml
  python/ommx-highs-adapter/pyproject.toml
  python/ommx-openjij-adapter/pyproject.toml
  python/ommx-pyscipopt-adapter/pyproject.toml
  python/ommx-python-mip-adapter/pyproject.toml
  python/ommx/ommx/_ommx_rust.pyi
  python/ommx/ommx/v1/__init__.py
  python/ommx/ommx/v1/constraint_hints_pb2.pyi
  python/ommx/ommx/v1/constraint_pb2.pyi
  python/ommx/ommx/v1/decision_variables_pb2.pyi
  python/ommx/ommx/v1/function_pb2.pyi
  python/ommx/ommx/v1/instance_pb2.pyi
  python/ommx/ommx/v1/linear_pb2.pyi
  python/ommx/ommx/v1/one_hot_pb2.pyi
  python/ommx/ommx/v1/parametric_instance_pb2.pyi
  python/ommx/ommx/v1/polynomial_pb2.pyi
  python/ommx/ommx/v1/quadratic_pb2.pyi
  python/ommx/ommx/v1/sample_set_pb2.pyi
  python/ommx/ommx/v1/solution_pb2.pyi
  python/ommx/ommx/v1/sos1_pb2.pyi
  python/ommx/pyproject.toml
  python/ommx/src/evaluate.rs
  python/ommx/src/instance.rs
  python/revise_stub_file.py
  rust/ommx/src/evaluate.rs
  rust/ommx/src/function/evaluate.rs
  rust/ommx/src/lib.rs
  rust/ommx/src/polynomial_base.rs
  rust/ommx/src/polynomial_base/evaluate.rs
  rust/ommx/src/polynomial_base/linear.rs
  rust/ommx/src/polynomial_base/polynomial.rs
  rust/ommx/src/polynomial_base/quadratic.rs
  rust/ommx/src/v1_ext/function.rs
  rust/ommx/src/v1_ext/instance.rs
  uv.lock
Labels: python, rust, breaking change

#443 `DecisionVariableAnalysis`
  rust/ommx/src/instance.rs
  rust/ommx/src/instance/analysis.rs
Labels: rust

#445 Revise random state generation
  rust/ommx/src/bound.rs
  rust/ommx/src/evaluate.rs
  rust/ommx/src/instance.rs
  rust/ommx/src/instance/analysis.rs
  rust/ommx/src/instance/arbitrary.rs
Labels: rust

#461 Add `atol` in `Evaluate`
  python/ommx/src/evaluate.rs
  python/ommx/src/instance.rs
  rust/ommx/benches/evaluate.rs
  rust/ommx/benches/partial_evaluate.rs
  rust/ommx/src/bound.rs
  rust/ommx/src/constraint/evaluate.rs
  rust/ommx/src/evaluate.rs
  rust/ommx/src/function/evaluate.rs
  rust/ommx/src/lib.rs
  rust/ommx/src/polynomial_base/evaluate.rs
  rust/ommx/src/v1_ext/constraint.rs
  rust/ommx/src/v1_ext/function.rs
  rust/ommx/src/v1_ext/instance.rs
  rust/ommx/src/v1_ext/linear.rs
  rust/ommx/src/v1_ext/parametric_instance.rs
  rust/ommx/src/v1_ext/polynomial.rs
  rust/ommx/src/v1_ext/quadratic.rs
Labels: rust

#462 Set Google Analytics (GA4) tracking code in Jupyter book
  .github/workflows/doc.yml
  docs/en/_config.yml
  docs/ja/_config.yml
Labels: documentation

#465 Drop `Offset`
  rust/ommx/src/coefficient.rs
  rust/ommx/src/lib.rs
  rust/ommx/src/parse.rs
Labels: rust

#466 `ATol` type for absolute tolerrance
  python/ommx/src/evaluate.rs
  python/ommx/src/instance.rs
  python/ommx/src/message.rs
  rust/ommx/benches/evaluate.rs
  rust/ommx/benches/partial_evaluate.rs
  rust/ommx/src/atol.rs
  rust/ommx/src/bound.rs
  rust/ommx/src/coefficient.rs
  rust/ommx/src/constraint/approx.rs
  rust/ommx/src/constraint/evaluate.rs
  rust/ommx/src/evaluate.rs
  rust/ommx/src/function/approx.rs
  rust/ommx/src/function/evaluate.rs
  rust/ommx/src/instance/analysis.rs
  rust/ommx/src/instance/approx.rs
  rust/ommx/src/lib.rs
  rust/ommx/src/macros.rs
  rust/ommx/src/mps/tests.rs
  rust/ommx/src/polynomial_base/approx.rs
  rust/ommx/src/polynomial_base/evaluate.rs
  rust/ommx/src/v1_ext/constraint.rs
  rust/ommx/src/v1_ext/function.rs
  rust/ommx/src/v1_ext/instance.rs
  rust/ommx/src/v1_ext/linear.rs
  rust/ommx/src/v1_ext/parametric_instance.rs
  rust/ommx/src/v1_ext/polynomial.rs
  rust/ommx/src/v1_ext/quadratic.rs
  rust/ommx/src/v1_ext/sample_set.rs
Labels: rust

#464 Kind-Bound consistency in `DecisionVariable`
  rust/ommx/src/atol.rs
  rust/ommx/src/bound.rs
  rust/ommx/src/decision_variable.rs
  rust/ommx/src/decision_variable/arbitrary.rs
  rust/ommx/src/decision_variable/parse.rs
  rust/ommx/src/instance/analysis.rs
  rust/ommx/src/parse.rs
  rust/ommx/src/v1_ext/instance.rs
Labels: rust

#459 impl Evaluate for Instance
  rust/ommx/src/constraint/evaluate.rs
  rust/ommx/src/evaluate.rs
  rust/ommx/src/instance.rs
  rust/ommx/src/instance/analysis.rs
  rust/ommx/src/instance/arbitrary.rs
  rust/ommx/src/instance/evaluate.rs
  rust/ommx/src/instance/parse.rs
  rust/ommx/src/instance/pass.rs
  rust/ommx/src/random.rs
  rust/ommx/src/random/parametric_instance.rs
  rust/ommx/src/v1_ext/state.rs
Labels: rust

#467 Rust SDK 2.0.0-rc.3
  Cargo.lock
  Cargo.toml
  rust/ommx/Cargo.toml
Labels: rust

#471 From `Instance` to `v1::Instance`
  rust/ommx/src/constraint/parse.rs
  rust/ommx/src/instance/constraint_hints.rs
  rust/ommx/src/instance/parse.rs
Labels: rust
